In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.20 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.26.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.21.2)
Requirement already satisfied: pandas>=0.24 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\yonghong.tan\appdata\roaming\python\python39\site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\yonghong.tan\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yonghong.tan\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2021.5.30)
Using legacy 'setup.py install' for multitasking, since package 'wheel' is not installed.
Installing collected packages: multitasking, yfinance
    Running setup.py install for multitasking: started
    Running setup.py install for multitasking: finished with status 'done'
Successfully installed multitasking-0.0.10 yfinance-0.1.67

WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\yonghong.tan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import yfinance as yf
import pandas as pd
df = yf.download('AAPL', start='2019-01-01', end='2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,158.529999,159.360001,156.479996,157.740005,155.129257,35003466
2019-01-02,154.889999,158.850006,154.229996,157.919998,155.306244,37039737
2019-01-03,143.979996,145.720001,142.000000,142.190002,139.836609,91312195
2019-01-04,144.529999,148.549896,143.800003,148.259995,145.806122,58607070
2019-01-07,148.699997,148.830002,145.899994,147.929993,145.481598,54777764
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.161423,54930064
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.852509,124486237
2020-12-29,138.050003,138.789001,134.340897,134.869995,134.043640,121047324
2020-12-30,135.580002,135.990005,133.399994,133.720001,132.900711,96452124
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.877014,99116586

In [4]:
df.tail(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-29,138.050003,138.789001,134.340897,134.869995,134.043640,121047324
2020-12-30,135.580002,135.990005,133.399994,133.720001,132.900711,96452124
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.877014,99116586

In [5]:
df.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,158.529999,159.360001,156.479996,157.740005,155.129257,35003466
2019-01-02,154.889999,158.850006,154.229996,157.919998,155.306244,37039737
2019-01-03,143.979996,145.720001,142.000000,142.190002,139.836609,91312195

In [ ]:
pd.set_option('display.max_rows', None)
df

In [6]:
df.loc['2019-01-02']

Open         1.548900e+02
High         1.588500e+02
Low          1.542300e+02
Close        1.579200e+02
Adj Close    1.553062e+02
Volume       3.703974e+07
Name: 2019-01-02 00:00:00, dtype: float64

In [22]:
df.iloc[0]

Open         1.548900e+02
High         1.588500e+02
Low          1.542300e+02
Close        1.579200e+02
Adj Close    1.553063e+02
Volume       3.703974e+07
Name: 2019-01-02 00:00:00, dtype: float64

In [25]:
df.loc['2019-01-02':'2019-01-04']

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-01-02  154.889999  158.850006  ...  155.306274  37039737
2019-01-03  143.979996  145.720001  ...  139.836624  91312195
2019-01-04  144.529999  148.549896  ...  145.806137  58607070

[3 rows x 6 columns]

In [28]:
df.iloc[0:3]

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-01-02  154.889999  158.850006  ...  155.306274  37039737
2019-01-03  143.979996  145.720001  ...  139.836624  91312195
2019-01-04  144.529999  148.549896  ...  145.806137  58607070

[3 rows x 6 columns]

In [37]:
df['Close']

Date
2019-01-02    157.919998
2019-01-03    142.190002
2019-01-04    148.259995
2019-01-07    147.929993
2019-01-08    150.750000
                 ...
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
Name: Close, Length: 505, dtype: float64

In [46]:
df[['Open', 'Close']]

                  Open       Close
Date
2019-01-02  154.889999  157.919998
2019-01-03  143.979996  142.190002
2019-01-04  144.529999  148.259995
2019-01-07  148.699997  147.929993
2019-01-08  149.559998  150.750000
...                ...         ...
2020-12-24  131.320007  131.970001
2020-12-28  133.990005  136.690002
2020-12-29  138.050003  134.869995
2020-12-30  135.580002  133.720001
2020-12-31  134.080002  132.690002

[505 rows x 2 columns]

In [4]:
df.iloc[:, 3]

Date
2019-01-02    157.919998
2019-01-03    142.190002
2019-01-04    148.259995
2019-01-07    147.929993
2019-01-08    150.750000
                 ...
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
Name: Close, Length: 505, dtype: float64

In [7]:
df[['Open', 'Close']]

                  Open       Close
Date
2018-12-31  158.529999  157.740005
2019-01-02  154.889999  157.919998
2019-01-03  143.979996  142.190002
2019-01-04  144.529999  148.259995
2019-01-07  148.699997  147.929993
...                ...         ...
2020-12-24  131.320007  131.970001
2020-12-28  133.990005  136.690002
2020-12-29  138.050003  134.869995
2020-12-30  135.580002  133.720001
2020-12-31  134.080002  132.690002

[506 rows x 2 columns]

In [8]:
df.iloc[:, [0,3]]

                  Open       Close
Date
2018-12-31  158.529999  157.740005
2019-01-02  154.889999  157.919998
2019-01-03  143.979996  142.190002
2019-01-04  144.529999  148.259995
2019-01-07  148.699997  147.929993
...                ...         ...
2020-12-24  131.320007  131.970001
2020-12-28  133.990005  136.690002
2020-12-29  138.050003  134.869995
2020-12-30  135.580002  133.720001
2020-12-31  134.080002  132.690002

[506 rows x 2 columns]

In [39]:
df.drop('2020-12-31').tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.157608,88223692
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.161423,54930064
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.852509,124486237
2020-12-29,138.050003,138.789001,134.340897,134.869995,134.043640,121047324
2020-12-30,135.580002,135.990005,133.399994,133.720001,132.900711,96452124

In [40]:
df.drop(df.index[-1]).tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.157608,88223692
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.161423,54930064
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.852509,124486237
2020-12-29,138.050003,138.789001,134.340897,134.869995,134.043640,121047324
2020-12-30,135.580002,135.990005,133.399994,133.720001,132.900711,96452124

In [45]:
df.drop(['2020-12-29', '2020-12-30', '2020-12-31']).tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-21,125.019997,128.309998,123.448997,128.229996,127.444328,121251553
2020-12-22,131.610001,134.404999,129.649994,131.880005,131.071976,169351825
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.157608,88223692
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.161423,54930064
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.852509,124486237

In [46]:
df.drop(df.index[-3:]).tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-21,125.019997,128.309998,123.448997,128.229996,127.444328,121251553
2020-12-22,131.610001,134.404999,129.649994,131.880005,131.071976,169351825
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.157608,88223692
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.161423,54930064
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.852509,124486237

In [59]:
df.drop(columns=['Adj Close', 'Volume']).tail()

                  Open        High         Low       Close
Date
2020-12-24  131.320007  133.460007  131.100006  131.970001
2020-12-28  133.990005  137.339996  133.509995  136.690002
2020-12-29  138.050003  138.789001  134.340897  134.869995
2020-12-30  135.580002  135.990005  133.399994  133.720001
2020-12-31  134.080002  134.740005  131.720001  132.690002

In [60]:
df.drop(columns=df.columns[4:]).tail()

                  Open        High         Low       Close
Date
2020-12-24  131.320007  133.460007  131.100006  131.970001
2020-12-28  133.990005  137.339996  133.509995  136.690002
2020-12-29  138.050003  138.789001  134.340897  134.869995
2020-12-30  135.580002  135.990005  133.399994  133.720001
2020-12-31  134.080002  134.740005  131.720001  132.690002